{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Problem show{% endblock %}

{% block page_content %}
<div class="container problem_content">
    <div class="row">
        <div class="col-md-9">

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ problem.title }}
                    </div>
                    <div class="panel-body">
                        <!-- body -->
                         {{ wtf.quick_form(form) }}
                    </div>
                </div>



            </div>
        </div>
        <div class="col-md-3">
            {{ macros.userpanel(current_user) }}
            {{ macros.newspanel(newslist) }}
        </div>
    </div>
</div>


{% endblock %}
