{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Problem show{% endblock %}

{% block page_content %}
<div class="container problem_content">
    <div class="row">
        <div class="col-md-9">

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ problem.title }}

                        {% if current_user.is_moderator %}
                        <a href="{{ url_for('dashboard.edit_problem', id=problem.id) }}">edit</a>{% endif %}

                        <a href="{{ url_for('problem.show_topics', id=problem.id) }}">discuss</a>
                    </div>
                    <div class="panel-body">
                        <!-- body -->
                        <div id="tl-problem-content">
                            <div class="limit">
                                <div>时间限制:<span style="margin-left: 10px;">{{ problem.time_limit }}ms</span></div>
                                <!--<div>单点时限:<span style="margin-left: 10px;">1000ms</span></div>-->
                                <div>内存限制:<span style="margin-left: 10px;">{{ problem.memory_limit }}mb</span></div>
                            </div>
                            <table></table>
                            <dl class="des">
                                <div><h3>描述</h3>
                                    {{ problem.pro_desc|safe }}
                                </div>
                                <div><h3>输入</h3>
                                    <pre>{{ problem.pro_input }}</pre>
                                </div>
                                <div><h3>输出</h3>
                                    <pre>{{ problem.pro_output }}</pre>
                                </div>
                                <dt>样例输入</dt>
                                <dd>
                                    <pre>{{ problem.sample_input }}</pre>
                                </dd>
                                <dt>样例输出</dt>
                                <dd>
                                    <pre>{{ problem.sample_output }}</pre>
                                </dd>
                            </dl>
                        </div>
                        <!-- end body -->
                    </div>
                </div>
                <!--{{ wtf.quick_form(form) }}-->
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">code editor</div>
                        <div class="panel-body">
                            <!-- body -->
                            <div class="code-editor" id="code-editor">
                                <form class="form-horizontal panel-body" method="post" action="">
                                    {{ form.csrf_token }}


                                    {{form.language.label(class_='col-sm-2 control-label')}}
                                    {{ form.language(class_='form-control', placeholder=form.language.description) }}
                                    <hr>
                                    {{ form.code(class_='form-control', placeholder=form.code.description) }}
                                    <div id="editor" name="editor"></div>


                                    <div class="form-group">
                                        <div class="col-sm-offset-10 col-sm-10">
                                            <button class="btn btn-primary" id="submitbtn">submit</button>
                                        </div>
                                    </div>
                                </form>
                                <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" type="text/javascript" charset="utf-8"></script>-->
                                <script>
                                          var editor = ace.edit("editor");
                                          editor.getSession().setMode("ace/mode/c_cpp");

                                          var eventOne = function(){
                                              document.getElementById("code").value=editor.getValue();
                                              //alert("hehe");
                                            }
                                          var btn = document.getElementById("submitbtn");
                                            btn.onclick = eventOne;
                                          console.log(btn);



                                </script>
                            </div>
                            <!-- end body -->
                        </div>
                    </div>


                    <!--<div id="editor">some text</div>-->
                    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" type="text/javascript" charset="utf-8"></script>-->


                    <!-- <hr> -->
                </div>

            </div>
        </div>
        <div class="col-md-3">
            {{ macros.userpanel(current_user) }}
            {{ macros.newspanel(newslist) }}
        </div>
    </div>
</div>

<!--{{ wtf.quick_form(form) }}-->
{% endblock %}
