{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Problem List{% endblock %}

{% block page_content %}

<div class="container content">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">Problem list</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group form-inline">
                            <form name="search_form" method="get" action="{{ url_for('problem.search') }}">
                                <label for="key">Search:</label>
                                <input class="form-control" name="key" id="key"/>
                                <label >In:</label>
                                <select class="form-control" id="type" name="type"><option selected="" value="0">ID</option><option value="1">Title</option></select>

                                <button class="btn btn-default" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th width="10%">ID</th>
                                <th width="60%">Name</th>
                                <th width="15%">Difficulty</th>
                                <th width="20%">AC/Submit</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for problem in problems %}
                            <tr>
                                <th scope="row">{{ problem.id }}</th>
                                <td><a href="{{ url_for('problem.show', id=problem.id) }}">{{ problem.title }}</a></td>
                                <td>{{ macros.problem_difficulty(problem) }}</td>
                                <td>{{ problem.total_accepted }}/{{ problem.total_submited }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <nav>
                            {% if pagination %}
                            <div class="pagination">
                                {{ macros.pagination_widget(pagination, 'problem.search', key=request.args['key'], type=request.args['type']) }}
                            </div>
                            {% endif %}
                        </nav>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            {{ macros.userpanel(current_user) }}
            {{ macros.newspanel(newslist) }}
        </div>
    </div>
</div>

{% endblock %}
