{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Problem show{% endblock %}

{% block page_content %}
<div class="container problem_content">
    <div class="row">
        <div class="col-md-9">

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ problem.title }}
                        <a href="{{ url_for('problem.add_topic', id=problem.id) }}">post</a>
                    </div>
                    <div class="panel-body">

                        <!-- body -->
                         {% for topic in problem.topics %}
                                <div class="single_topic">
                                    <a href="{{ url_for('problem.show_topic', id=problem.id, tid=topic.id) }}" class="topic_title"><strong>{{ topic.title }}</strong></a>
                                    <a href="{{ url_for('account.show', id=topic.user.id) }}" class="topic_owner">{{ topic.user.username }}</a>
                                    <span class="topic_time">{{ topic.create_time }}</span>
                                </div>

                        {% endfor %}
                        <!-- end body -->
                    </div>
                </div>



            </div>
        </div>
        <div class="col-md-3">
            {{ macros.userpanel(current_user) }}
            {{ macros.newspanel(newslist) }}
        </div>
    </div>
</div>


{% endblock %}
