{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Problem show{% endblock %}

{% block page_content %}
<div class="container problem_content">
    <div class="row">
        <div class="col-md-9">

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ problem.title }}
                    </div>
                    <div class="panel-body">
                        {{ topic.content }}

                    </div>
                </div>
                <div class="panel panel-default">
                <div class="panel-heading">回复
                </div>
                <div class="panel-body">
                    {% for reply in topic.replys %}
                    <div  class="cell">

                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tbody>
                            <tr>
                                <td width="48" valign="top" align="center">
                                    <a href="{{ url_for('account.show', id=reply.user.id) }}">
                                    <image src="{{ reply.user.avatar(46) }}"
                                           alt="avatar"></image>
                                    </a>
                                </td>
                                <td width="10" valign="top"></td>
                                <td width="auto" valign="top" align="left">
                                    <strong><a href="{{ url_for('account.show', id=reply.user.id) }}" class="dark">{{ reply.user.username }}</a></strong>&nbsp; &nbsp;
                                    <div class="reply_content">
                                        {{ reply.content }}
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                    </div>
                    {% endfor %}

                </div>


            </div>

                {{ wtf.quick_form(form) }}



            </div>
        </div>
        <div class="col-md-3">
            {{ macros.userpanel(current_user) }}
            {{ macros.newspanel(newslist) }}
        </div>
    </div>
</div>


{% endblock %}
