{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Register{% endblock %}

{% block page_content %}
<div class="container problem_content">
    <div class="row">
        <div class="col-md-9">

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Login</div>
                    <div class="panel-body">
                        <!-- body -->
                        {{ wtf.quick_form(form) }}
                        <!-- end body -->
                    </div>
                </div>

                <!-- <hr> -->
            </div>

        </div>
        <div class="col-md-3">
            {{ macros.newspanel(newslist) }}
        </div>
    </div>
</div>
{% endblock %}
