{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky - Edit Profile{% endblock %}

{% block page_content %}
<div class="container problem_content">
    <div class="row">
        <div class="col-md-9">

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Setting</div>
                    <div class="panel-body">
                        <!-- body -->
                        <!--{{ wtf.quick_form(form) }}-->
                        <form class="form-horizontal panel-body" method="post" action="">
                            {{ form.csrf_token }}
                            {{ macros.horizontal_field(form.nickname) }}
                            {{ macros.horizontal_field(form.email) }}
                            {{ macros.horizontal_field(form.gender) }}
                            <!--{{ macros.horizontal_field(form.default_language) }}-->
                            {{ macros.horizontal_field(form.school) }}
                            {{ macros.horizontal_field(form.college) }}
                            {{ macros.horizontal_field(form.major) }}
                            {{ macros.horizontal_field(form.grade) }}
                            {{ macros.horizontal_field(form.uclass) }}
                            {{ macros.horizontal_field(form.qq) }}
                            {{ macros.horizontal_field(form.phone) }}
                            {{ macros.horizontal_field(form.blog) }}
                            {{ macros.horizontal_field(form.address) }}
                            {{ macros.horizontal_field(form.about_me) }}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button class="btn btn-primary">update</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

                <!-- <hr> -->
            </div>

        </div>
        <div class="col-md-3">
            {{ macros.newspanel(newslist) }}
        </div>
    </div>
</div>
{% endblock %}
