{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Login{% endblock %}

{% block page_content %}
<div class="container user-content">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">Userinfo</div>
                <div class="panel-body">
                    <!--<img src="images/ymc.jpg" width="200px" height="200px">-->
                    <div class="row">
                        <div class="userinfomation">
                            <span class="glyphicon glyphicon-home"
                                  aria-hidden="true">&nbsp{{ current_user.school }}</span>
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true">&nbsp{{ current_user.address }}</span>
                            <span class="glyphicon glyphicon-envelope"
                                  aria-hidden="true">&nbsp{{ current_user.email }}</span>
                            <span class="glyphicon glyphicon-link"
                                  aria-hidden="true">&nbsp{{ current_user.blog }}</span>
                        </div>
                        <!--<img src="images/ymc.jpg" class="user-img" width="250px" height="250px">-->
                        <image class="user-img" src="{{ user.avatar(256) }}" alt="avatar"></image>
                    </div>
                    <div class="row">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            {{ macros.userpanel(current_user) }}
            {{ macros.newspanel(newslist) }}
        </div>
    </div>
</div>
{% endblock %}
