{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Add news{% endblock %}

{% block page_content %}
<div class="container problem_content">
    <div class="row">
        <div class="col-md-9">

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Add news</div>
                    <div class="panel-body">
                        <!-- body -->
                        <form class="form-horizontal panel-body" method="post" action="">
                            {{ form.csrf_token }}
                            {{ macros.horizontal_field(form.title) }}

                            {{ form.content(class_='form-control', placeholder=form.content.description) }}
                            <hr>
                            <div>
                                <script id="editor" type="text/plain"></script>
                            </div>

                            <hr>
                            {{ macros.checkbox_field(form.is_show) }}
                            <div class="form-group">
                                <div class="col-sm-offset-10 col-sm-10">
                                    <button class="btn btn-primary" id="submitbtn">Add</button>
                                </div>
                            </div>

                        </form>

                        <script>
                            var ue = UE.getEditor('editor', {
                                serverUrl: "/upload/"
                            });

                                          var eventOne = function(){
                                              document.getElementById("content").value=UE.getEditor('editor').getContent();
                                              //alert("hehe");
                                            }
                                          var btn = document.getElementById("submitbtn");
                                            btn.onclick = eventOne;
                                          console.log(btn);



                        </script>

                    </div>
                </div>

                <!-- <hr> -->
            </div>

        </div>
        <div class="col-md-3">
            {{ macros.userpanel(current_user) }}
            {{ macros.newspanel(newslist) }}
        </div>
    </div>
</div>
{% endblock %}
