{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Add problem{% endblock %}

{% block page_content %}

<div class="container problem_content">
    <div class="row">
        <div class="col-md-9">

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Add Problem</div>
                    <div class="panel-body">

                        <!-- body -->
                        <form class="form-horizontal panel-body" method="post"
                              action="{{ url_for('dashboard.add_problem') }}">
                            {{ form.csrf_token }}

                            {{ form.id(class_='form-control', placeholder=form.id.description) }}
                            {{ macros.horizontal_field(form.title) }}
                            {{ macros.horizontal_field(form.time_limit) }}
                            {{ macros.horizontal_field(form.memory_limit) }}
                            {{ form.pro_desc(class_='form-control', placeholder=form.pro_desc.description) }}
                            <!--{{ macros.horizontal_field(form.pro_desc) }}-->
                            <div>
                                <script id="editor" type="text/plain"></script>
                            </div>
                            {{ macros.horizontal_field(form.pro_input) }}
                            {{ macros.horizontal_field(form.pro_output) }}
                            {{ macros.horizontal_field(form.sample_input) }}
                            {{ macros.horizontal_field(form.sample_output) }}
                            {{ macros.horizontal_field(form.hint) }}
                            {{ macros.horizontal_field(form.source) }}

                            {{ macros.horizontal_field(form.difficulty) }}
                            {{ macros.checkbox_field(form.spj) }}
                            {{ macros.checkbox_field(form.visible) }}

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button class="btn btn-primary" id="submitbtn">Add</button>
                                </div>
                            </div>
                        </form>

                        <script>
                            var ue = UE.getEditor('editor', {
                                serverUrl: "/upload/"
                            });

                                          var eventOne = function(){
                                              document.getElementById("pro_desc").value=UE.getEditor('editor').getContent();
                                              //alert("hehe");
                                            }
                                          var btn = document.getElementById("submitbtn");
                                            btn.onclick = eventOne;
                                          console.log(btn);



                        </script>
                        <!-- end body -->
                    </div>
                </div>

                <!-- <hr> -->
            </div>

        </div>
        <div class="col-md-3">
            {{ macros.userpanel(current_user) }}
            {{ macros.newspanel(newslist) }}
        </div>
    </div>
</div>
{% endblock %}
