{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Dashboard{% endblock %}

{% block page_content %}

<div class="container content" ms-controller="admin">
    <div class="row">
        <!--<div class="col-md-9">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading">Problem list</div>-->
                <!--<div class="panel-body">-->
                    <!--<div ms-include-src="template_url" data-include-rendered="hide_loading" data-include-replace="true"></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div ms-include-src="template_url" data-include-rendered="hide_loading" data-include-replace="true"></div>-->
        <!--<div ms-include-src="template_url"  data-include-loaded="adjust"></div>-->
        <div class="row">
            <img src="/static/images/loading.gif" id="loading-gif" height="100" width="100">
        </div>
        <!--<img src="/static/images/loading.gif" id="loading-gif" height="200" width="200">-->
        <div ms-include-src="template_url"  data-include-rendered="hide_loading" data-include-replace="true"></div>

        <div class="col-md-3">
            <div class="announcement">
                <div class="panel panel-default">
                    <div class="panel-heading">操作</div>
                    <div class="panel-body">
                        <!--{% for item in newslist %}-->
                        <!--<li><a href="{{ url_for('news.show', news_id=item.id) }}">{{ item.title }}</a></li>-->
                        <!--{% endfor %}-->
                        <li><a href="#dashboard_main">主页</a></li>
                        {% if current_user.is_administrator %}
                        <li><a href="#user_manage">用户管理</a></li>
                        {% endif %}
                        <li><a href="#contest_manage">比赛管理</a></li>
                        <li><a href="#contest_add">添加比赛</a></li>
                        <li><a href="#submission_manage">提交管理</a></li>
                    </div>
                </div>
            </div>
        </div>
        <script>

        avalon.ready(function () {
            var vm = avalon.define({
                $id: "admin",
                contest_id: -1,
                template_url: "/static/html/dashboard_main.html",
                hide_loading: function () {
                    $("#loading-gif").hide();
                }

            })

            avalon.scan();


            function show_template(url) {
                $("#loading-gif").show();
                vm.template_url = url;
            }

            window.onhashchange = function () {
                var hash = window.location.hash.substring(1);
                if (hash) {
                    show_template("/static/html/" + hash + ".html");
                }
            };
        })


        </script>
    </div>
</div>

{% endblock %}
