{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Add news{% endblock %}

{% block page_content %}
    <div class="container problem_content">
    <div class="row">
        <div class="col-md-9">

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">edit news</div>
                    <div class="panel-body">
                        <!-- body -->
                        <form class="form-horizontal panel-body" method="post" action="">
                            {{ form.csrf_token }}

                            {{ macros.horizontal_field(form.title) }}
                            <div style="display:none">
                            {{ form.content(class_='form-control', placeholder=form.content.description) }}
                                </div>
                        <div>
                            <script id="editor" type="text/plain">{{ news.content|safe }}</script>
                                </div>
                        {{ macros.checkbox_field(form.is_show) }}
                        {{ macros.checkbox_field(form.is_delete) }}

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                  <button class="btn btn-primary" id="submitbtn">update</button>
                                </div>
                              </div>
                            </form>

                         <script>
                            var ue = UE.getEditor('editor', {
                                serverUrl: "/upload/"
                            });

                                          var eventOne = function(){
                                              document.getElementById("content").value=UE.getEditor('editor').getContent();
                                              //alert("hehe");
                                            }
                                          var btn = document.getElementById("submitbtn");
                                            btn.onclick = eventOne;
                                          console.log(btn);


                                    </script>

                    </div>
                </div>

                <!-- <hr> -->
            </div>

        </div>
        <div class="col-md-3">
             {{ macros.userpanel(current_user) }}
            {{ macros.newspanel(newslist) }}
        </div>
    </div>
</div>
{% endblock %}
