<div class="col-md-9" ms-controller="user_manage">
    <div class="panel panel-default">
        <div class="panel-heading">user manage</div>
        <div class="panel-body">
            <!--<div ms-include-src="template_url" data-include-rendered="hide_loading" data-include-replace="true"></div>-->
        </div>
    </div>
</div>
<script>
    avalon.ready(function() {
        if (avalon.vmodels.user_list) {
            var vm = avalon.vmodels.user_list;
        } else {
            var vm = avalon.define({
                    $id: "user_manage",
                    user_list: [],
                })
        }
    })




</script>