{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Ranks{% endblock %}

{% block page_content %}
<div class="container content">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">Ranks</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group form-inline">
                            <label for="User">User:</label>
                            <input class="form-control" id="User">
                            <button class="btn btn-default" type="submit">Search</button>
                        </div>
                        <!-- <hr> -->
                    </div>
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th width="10%">rank</th>
                                <th width="10%">User</th>
                                <th width="60%">Signature</th>
                                <th width="10%">Solved</th>
                                <th width="10%">Submitted</th>
                            </tr>

                            </thead>
                            <tbody>
                            {% for rank in ranks %}
                            <tr>
                                <th scope="row">{{ start+loop.index }}</th>
                                <td><a href="#">{{ rank.username }}</a></td>
                                <td>{{ rank.about_me }}</td>
                                <td>{{ rank.total_accept }}</td>
                                <td>{{ rank.total_submit }}</td>
                            </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- <hr> -->
                    </div>
                    <div class="row">
                        <nav>
                            {% if pagination %}
                            <div class="pagination">
                                {{ macros.pagination_widget(pagination, 'ranks.list') }}
                            </div>
                            {% endif %}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            {{ macros.userpanel(current_user) }}
            {{ macros.newspanel(newslist) }}
        </div>
    </div>
</div>


{% endblock %}
