/*navbar*/
.navbar-default {
  background-color: #fff;
  border: none;
  box-shadow: 0px 2px 8px 0px rgba(50,50,50,0.22);
}

.navbar-default .navbar-brand {
    font-size: 22px;
    font-weight: bold;
    color: #000;
    height: 60px;
    line-height: 30px;
}

.navbar-default .navbar-nav>li>a {
    font-size: 16px;
    color: #827777;
    line-height: 30px;
}
.navbar-default .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

/*wrapper*/
#Wrapper {
  background-color: #e2e2e2;
  text-align: center;
  margin-top: 5px;
  padding-top: 80px;
  margin-bottom: 5px;
  padding-bottom: 20px;
  min-height: 900px;
}

/*content*/
.content {
    text-align: left;
    width: 1300px;
    /*background-color: #fff;*/
    border-bottom: 1px solid #e2e2e2;
    float:none;
    /*border:1px solid #CCC5C5;*/
}
/*.content .problem_list_content {*/
    /*background-color: #fff;*/
    /*!*border-bottom: 1px solid #e2e2e2;*!*/
    /*border:1px solid #CCC5C5;*/
/*}*/
.content .row {
    margin-left: 3px;
    margin-right: 3px;
    margin-top:10px;
}
.content label {
    color:#000;
    margin-left: 2px;
    margin-right: 2px;
}

.content nav {
    text-align: center;
    display: block;
    margin:0 auto
}

.content .announcement {
    padding-top: 0px;
    text-align: left;
}

.userpanel .username {
    margin-left: 20px;
    font-weight: bold;
    color: #97969A;
}

.userpanel .userinfo {
    line-height: 30px;
}

.userpanel .userinfo span {
    /*font-weight: bold;*/
    color:#97969A;
    display: block;
}

.userpanel .user-vcard {
    float: left;
    width: 33.33%;
    text-align: center;
}

.userpanel .user-vcard strong {
    display: block;
    font-size: 22px;
}

.userpanel .user-vcard span {
    display: inline-block;
    color: #97969A;
    margin-left: 15px;
}

.userpanel .userinfo span {
    /* font-weight: bold; */
    color: #97969A;
    display: block;
    line-height: 30px;
}


.problem_content {
  text-align: left;
  width: 1300px;
  border-bottom: 1px solid #e2e2e2;
   float:none;

}

.problem_content .row {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 8px;

}

.news {
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 8px 10px 6px;
    line-height:36px;
    font-size: 16px;
    zoom: 1;
}

.news a {
    width: 60%;
    display: inline-block;
}

.news .user {
    width: 15%;
    display: inline-block;
}

.news .time {
    width: 20%;
    display: inline-block;
}

.panel-heading a {
    float: right;
    margin-left: 20px;
}

#editor {

    width: 100%;
    height: 400px;
    display: inline-block;
}

#code-editor label {
    text-align: left;
    display: inline-block;
}

#code-editor select {
    width:20%;
    display: inline-block;
}


/*contest*/
.contest-main {
    text-align: center;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

.contest-main h1 {
    font-size: 26px;
    padding-bottom: 20px;
}

.contest-main #contest-nav {
    text-align: center;
    display: inline-block;
}

.contest-main .single-problem {
    width: 600px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    line-height: 36px;
    display: inline-block;
}

.contest-main th {
    text-align: center;
}

/*end contest*/

#contest-problem-main {
    text-align: left;
}

.contest-topics {
    text-align: left;
}


.single_topic {
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 8px 10px 6px;
    line-height:36px;
    font-size: 16px;
    zoom: 1;
}

.single_topic .topic_title {
    width: 60%;
    display: inline-block;
}

.single_topic .topic_owner {
    width: 10%;
    display: inline-block;
}

.single_topic .topic_time {
    width: 20%;
    display: inline-block;
}


#add_reply {
    text-align: left;
}

#add_reply form .form-group {
    text-align: left;
}

#add_topic {
    text-align: left;
}

.alert {
    margin-bottom: 0px;
}