.user-content {
    text-align: left;
    width: 1300px;
    border-bottom: 1px solid #e2e2e2;
    /*float:none;*/
}

.user-content .row {
    margin-left: 3px;
    margin-right: 3px;
    margin-top:10px;
}


.user-content .user-img {
    float: right;
}

.user-content .userinfomation {
    display: inline-block;
    float: left;
}


.user-content .userinfomation span {
    display: block;
    font-size: 30px;
    line-height: 60px;
}