/*navbar*/
.navbar-default {
  background-color: #fff;
  border: none;
  box-shadow: 0px 2px 8px 0px rgba(50,50,50,0.22);
}

.navbar-default .navbar-brand {
    font-size: 22px;
    font-weight: bold;
    color: #000;
    height: 60px;
    line-height: 30px;
}

.navbar-default .navbar-nav>li>a {
    font-size: 16px;
    color: #827777;
    line-height: 30px;
}
.navbar-default .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

/*wrapper*/
#Wrapper {
  background-color: #e2e2e2;
  text-align: center;
  margin-top: 5px;
  padding-top: 80px;
  margin-bottom: 5px;
  padding-bottom: 20px;
    min-height: 800px;
}

/*content*/
.content {
    text-align: left;
    width: 1300px;
    /*background-color: #fff;*/
    border-bottom: 1px solid #e2e2e2;
    float:none;
    /*border:1px solid #CCC5C5;*/
}
/*.content .problem_list_content {*/
    /*background-color: #fff;*/
    /*!*border-bottom: 1px solid #e2e2e2;*!*/
    /*border:1px solid #CCC5C5;*/
/*}*/
.content .row {
    margin-left: 3px;
    margin-right: 3px;
    margin-top:10px;
}
.content label {
    color:#000;
    margin-left: 2px;
    margin-right: 2px;
}
.content nav {
    text-align: center;
    display: block;
    margin:0 auto
}

.content .announcement {
    padding-top: 0px;
    text-align: left;
}

.userpanel .username {
    margin-left: 20px;
    font-weight: bold;
    color: #97969A;
}

.userpanel .userinfo {
    line-height: 30px;
}

.userpanel .userinfo span {
    /*font-weight: bold;*/
    color:#97969A;
    display: block;
}

.userpanel .user-vcard {
    float: left;
    width: 33.33%;
    text-align: center;
}

.userpanel .user-vcard strong {
    display: block;
    font-size: 22px;
}

.userpanel .user-vcard span {
    display: block;
    color: #97969A;
}

/*contest*/
.contest-main {
    text-align: center;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

.contest-main h1 {
    font-size: 26px;
    padding-bottom: 20px;
}

.contest-main #contest-nav {
    text-align: center;
    display: inline-block;
}

.contest-main .single-problem {
    width: 600px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    line-height: 36px;
    display: inline-block;
}

.contest-main th {
    text-align: center;
}

/*end contest*/


