.content {
    text-align: left;
    width: 70%;
    /*background-color: #fff;*/
    border-bottom: 1px solid #e2e2e2;
    float:none;
    /*border:1px solid #CCC5C5;*/
}
.content .problem_list_content {
  background-color: #fff;
  /*border-bottom: 1px solid #e2e2e2;*/
  border:1px solid #CCC5C5;
}
.content .row {
  margin-left: 3px;
  margin-right: 3px;
  margin-top:10px;
}
.content label {
  color:#000;
  margin-left: 2px;
  margin-right: 2px;
}
.content nav {
  text-align: center;
  display: block;
  margin:0 auto
}

.content .announcement {
  padding-top: 0px;
  text-align: left;
}

