.content {
    float:left;
    text-align: left;
    margin: 0 auto;
    width: 60%;
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
    float:left;
    border:1px solid #CCC5C5;
    display:inline-block;
}
.content .row {
  margin-left: 3px;
  margin-right: 3px;
  margin-top:10px;
}
.content label {
  color:#000;
  margin-left: 2px;
  margin-right: 2px;
}
.content nav {
  text-align: center;
  display: block;
  margin:0 auto
}

.announcement {
  padding-top: 55px;
  float: right;
  margin: 0 auto;
  width:10%;
  display: inline-block;
}
#Wripper .tao {
  overflow：hidden;
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
}
