<div class="col-md-9" ms-controller="contest_manage">
    <div class="panel panel-default">
        <div class="panel-heading">user manage</div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>type</th>
                    <th>Operation</th>
                    <th>Link</th>
                </tr>

                <tr ms-repeat="contest_list">
                    <td>{{ el.id }}</td>
                    <td>{{ el.title }}</td>
                    <!--<td>{{ el.type }}</td>-->
                    <td ms-if="el.type==0">Public</td>
                    <td ms-if="el.type!=0">Private</td>
                    <td>
                        <button class="btn btn-info" ms-click="editContest(el)">编辑</button>
                    </td>
                    <td><button class="btn btn-info" ms-click="getdata(el)">data</button></td>
                </tr>
            </table>
            <div style="text-align: right;">
                <ms:pager $id="contestPager" config="pager"></ms:pager>
            </div>

        </div>
    </div>
</div>
<script>




    avalon.ready(function() {
        if (avalon.vmodels.contest_manage) {
            var vm = avalon.vmodels.contest_manage;
            vm.contest_list = []
        } else {
            function getPage(page) {
                var url = "/api/contests/?paging=true&page=" + page + "&page_size=10";
                if (vm.keyword != "")
                    url += "&keyword=" + vm.keyword;
                $.ajax({

                    url: url,
                    dataType: "json",
                    method: "get",
                    success: function (data) {

                        if (!data.code) {
                            vm.contest_list = data.data.results;
                            avalon.vmodels.contestPager.totalPage = data.data.total_page;
                        }
                        else {
                            alert(data.data);
                        }
                    }
                });
            }

            var vm = avalon.define({
                    $id: "contest_manage",

                    contest_list: [],
                    pager: {
                        getPage: function (page) {
                            getPage(page);
                        }
                    },
                    editContest: function (contest) {
                        avalon.vmodels.admin.contest_id = contest.id;
                        console.log(avalon.vmodels.admin.contest_id)
                        avalon.vmodels.admin.template_url = "/static/html/contest_edit.html"
                    },
                    getdata: function(contest) {
                        link = "/api/contests/download?contest_id=" + contest.id;
                        window.open(link);
                    }
                })





            avalon.scan();

          var _interface = function () {
            };
            avalon.component("ms:pager", {
                $template: "页数: {{ currentPage }}/{{ totalPage }} " +
                "<button ms-class=\"{{ currentPage==1?'btn btn-primary disabled':'btn btn-primary' }}\" ms-click=\"_getPrevPage\">上一页</button> " +
                " <button ms-class=\"{{ currentPage==totalPage?'btn btn-primary disabled':'btn btn-primary' }}\" ms-click=\"_getNextPage\">下一页</button>",
                currentPage: 1,
                totalPage: 1,
                _getPrevPage: _interface,
                _getNextPage: _interface,
                $init: function (vm, el) {
                    vm._getPrevPage = function () {
                        if (vm.currentPage > 1) {
                            vm.currentPage--;
                            vm.getPage(vm.currentPage);
                        }
                    };
                    vm._getNextPage = function () {
                        if (vm.currentPage < vm.totalPage) {
                            vm.currentPage++;
                            vm.getPage(vm.currentPage);
                        }
                    };
                },
                $ready: function(vm, el){
                    el.msRetain = true;

                    vm.getPage(1);


                }
            })
        }
    })











</script>