<div class="col-md-9" ms-controller="contest_add">
    <div class="panel panel-default">
        <div class="panel-heading">add contest</div>
        <div class="panel-body">


            <h3>Add contest</h3>
            <hr>
            <div>
                <h3>添加Contest</h3>

                <form id="contest_add_form">
                    <div>
                        <div class="form-group col-md-6"><label>ID</label>
                            <input name="id" type="number" class="form-control" readonly ms-duplex="contest_id">
                        </div>
                        <div class="form-group col-md-6"><label>Title</label>
                            <input name="title" class="form-control" ms-duplex="title">
                        </div>
                        <div class="form-group col-md-6"><label>start_time</label>
                            <input name="start_time" class="form-control" ms-duplex="start_time">
                        </div>
                        <div class="form-group col-md-6"><label>end_time</label>
                            <input name="end_time" class="form-control" ms-duplex="end_time">
                        </div>
                        <div class="form-group col-md-6"><label>type</label>
                            <!--<input name="type" class="form-control" ms-duplex="type">-->
                            <select class="form-control" ms-duplex="type">
                                <option value="0">Public</option>
                                <option value="1">Private</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6"><label>visible</label>
                            <!--<input name="visible" class="form-control" ms-duplex="visible">-->
                            <select class="form-control" ms-duplex="visible">
                                <option value="1">True</option>
                                <option value="0">False</option>
                            </select>

                        </div>

                    </div>
                    <hr>
                    <h3>题目  <input type="button" class="btn btn-default" value="add problem" ms-click="addBlankProblem()"></h3>
                    <div id="problems">

                    </div>
                    <hr>
                    <h3>用户</h3>
                    <hr>
                    <textarea class="form-control" id="contest_users" name="contest_users"  ms-duplex="contest_users"></textarea>
                    <hr>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" style="text-align: right;">保存修改</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script>





        if (avalon.vmodels.contest_add) {
            var vm = avalon.vmodels.contest_add;
        } else {

            Date.prototype.Format = function (fmt) { //author: meizz
                var o = {
                    "M+": this.getMonth() + 1, //月份
                    "d+": this.getDate(), //日
                    "h+": this.getHours(), //小时
                    "m+": this.getMinutes(), //分
                    "s+": this.getSeconds(), //秒
                    "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                    "S": this.getMilliseconds() //毫秒
                };
                if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                return fmt;
            }


            var vm = avalon.define({
                    $id: "contest_add",
                    contest_id: "",
                    title: "",
                    start_time: (new Date()).Format("yyyy-MM-dd hh:mm:ss"),
                    end_time: (new Date()).Format("yyyy-MM-dd hh:mm:ss"),
                    type: "",
                    visible: 0,
                    problem_list: [],
                    contest_users: "",

                    editContest: function (contest) {
                        avalon.vmodels.admin.contest_id = contest.id;
                        avalon.vmodels.admin.template_url = "/static/html/contest_edit.html"
                    },

                    toContestList: function () {
                        avalon.vmodels.admin.template_url = "/static/html/contest_manage.html"
                    },

                    addBlankProblem: function() {
                        add_problem('', '');
                    }
                })

                 avalon.scan();
        }

        add_problem = function(idstr, namestr){
                            var div = document.getElementById("problems");
                            var singleproblem = document.createElement("div")
                            singleproblem.setAttribute("class", "single_problem")
                            singleproblem.setAttribute("name", "single_problem")

                            var labelid = document.createElement("label")
                            labelid.setAttribute("class","control-label")
                            labelid.innerHTML = " id:&nbsp; "
                            var problemid = document.createElement("input")
                            problemid.setAttribute("class","form-control")
                            problemid.setAttribute("type","text")
                            problemid.setAttribute("name","id")
                            problemid.setAttribute("style","width:30%;display:inline;")
                            problemid.value = idstr

                            var labelname = document.createElement("label")
                            labelname.setAttribute("class","control-label")
                            labelname.innerHTML = " &nbsp;name:&nbsp; "
                            var problemname = document.createElement("input")
                            problemname.setAttribute("class","form-control")
                            problemname.setAttribute("type","text")
                            problemname.setAttribute("name","name")
                            problemname.setAttribute("style","width:30%;display:inline;")
                            problemname.value = namestr

                            var del = document.createElement("input")
                            del.setAttribute("type","button")
                            del.setAttribute("value","删除")
                            del.setAttribute("class","btn btn-default")

                            singleproblem.appendChild(labelid)
                            singleproblem.appendChild(problemid)
                            singleproblem.appendChild(labelname)
                            singleproblem.appendChild(problemname)
                            singleproblem.appendChild(del)

                            div.appendChild(singleproblem)

                            del.onclick = function() {
                                div.removeChild(singleproblem)

                            }
                        }


            render_problems = function(problem_list) {
                for(var i = 0; i < problem_list.length; ++i) {
                    console.log(problem_list[i]);
                    add_problem(problem_list[i].id, problem_list[i].title);
                }
            }



        $("#contest_add_form").on('submit', function(e) {
            var data = {
                            id: -1,
                            title: vm.title,
                            start_time: vm.start_time,
                            end_time: vm.end_time,
                            type: vm.type,
                            visible: vm.visible,
                            problems: [],
                            contest_users: vm.contest_users
                        };
            var problems = [];
            var sp = document.getElementsByName("single_problem");

                            for(i=0; i<sp.length; ++i) {

                                var single = {}
                                var inputs = sp[i].getElementsByTagName("input");

                                for(j=0; j<inputs.length; ++j) {
                                    if(inputs[j].getAttribute("name") == "id") {
                                        single.id = inputs[j].value
                                    }
                                    if(inputs[j].getAttribute("name") == "name") {
                                        single.name = inputs[j].value
                                    }
                                }

                                problems.push(single);
                            }
            data.problems = problems
            $.ajax({
                            url: "/api/contests/add_contest",
                            dataType: "json",
                            contentType: "application/json;charset=UTF-8",
                            data: JSON.stringify(data),
                            method: "put",
                            success: function (data) {
                                if (!data.code) {
                                    alert("添加成功！");
                                    avalon.vmodels.admin.template_url = "/static/html/contest_manage.html"
                                } else {
                                    alert(data.data);
                                }
                            }
                        });
                        return false;


        })














</script>