<div class="col-md-9" ms-controller="user_manage">
    <div class="panel panel-default">
        <div class="panel-heading">Dashboard</div>
        <div class="panel-body">
            <!--<div ms-include-src="template_url" data-include-rendered="hide_loading" data-include-replace="true"></div>-->
            <h1>Dashboard</h1>
        </div>
    </div>
</div>
