<div class="col-md-9" ms-controller="submission_manage">
    <div class="panel panel-default">
        <div class="panel-heading">submission manage</div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Result</th>
                    <th>Language</th>
                    <th>Operation</th>
                </tr>

                <tr ms-repeat="submission_list">
                    <td>{{ el.id }}</td>
                    <!--<td>{{ el.result }}</td>-->
                    <td ms-if="el.result==0">Waiting</td>
                    <td ms-if="el.result==1">Runing</td>
                    <td ms-if="el.result==2">Accepted</td>
                    <td ms-if="el.result==3">Presentation Error</td>
                    <td ms-if="el.result==4">Wrong Answer</td>
                    <td ms-if="el.result==5">Runtime Error</td>
                    <td ms-if="el.result==6">Time Limit Exceeded</td>
                    <td ms-if="el.result==7">Memory Limit Exceeded</td>
                    <td ms-if="el.result==8">Output Limit Exceeded</td>
                    <td ms-if="el.result==9">Compile Error</td>
                    <td ms-if="el.result==10">System Error</td>

                    <!--<td>{{ el.language }}</td>-->
                    <td ms-if="el.language==0">C</td>
                    <td ms-if="el.language==1">C++</td>
                    <td ms-if="el.language==2">JAVA</td>
                    <td ms-if="el.language==3">Other</td>
                    <td>
                        <button class="btn btn-info" ms-click="reJudge(el)">重判</button>
                    </td>
                </tr>
            </table>
            <div style="text-align: right;">
                <ms:pager $id="submissionPager" config="pager"></ms:pager>
            </div>

        </div>
    </div>
</div>
<script>




    avalon.ready(function() {
        if (avalon.vmodels.submission_manage) {
            var vm = avalon.vmodels.submission_manage;
        } else {
            function getPage(page) {
                var url = "/api/submissions/?paging=true&page=" + page + "&page_size=10";
                if (vm.keyword != "")
                    url += "&keyword=" + vm.keyword;
                $.ajax({

                    url: url,
                    dataType: "json",
                    method: "get",
                    success: function (data) {
                        console.log(data)
                        if (!data.code) {
                            vm.submission_list = data.data.results;
                            avalon.vmodels.submissionPager.totalPage = data.data.total_page;
                        }
                        else {
                            alert(data.data);
                        }
                    }
                });
            }

            function doRejudge(submission) {
                $.ajax({

                    url: "/api/submissions/rejudge?id=" + submission.id,
                    dataType: "json",
                    method: "put",
                    success: function (data) {

                        if (!data.code) {
                            alert("rejudge ok");
                            getPage(avalon.vmodels.submissionPager.currentPage )
                        }
                        else {
                            alert(data.data);
                        }
                    }
                })
            }

            var vm = avalon.define({
                    $id: "submission_manage",

                    submission_list: [],
                    pager: {
                        getPage: function (page) {
                            getPage(page);
                        }
                    },
                    reJudge: function (submission) {
                        doRejudge(submission);
                    }
                })





            avalon.scan();

          var _interface = function () {
            };
            avalon.component("ms:pager", {
                $template: "页数: {{ currentPage }}/{{ totalPage }} " +
                "<button ms-class=\"{{ currentPage==1?'btn btn-primary disabled':'btn btn-primary' }}\" ms-click=\"_getPrevPage\">上一页</button> " +
                " <button ms-class=\"{{ currentPage==totalPage?'btn btn-primary disabled':'btn btn-primary' }}\" ms-click=\"_getNextPage\">下一页</button>",
                currentPage: 1,
                totalPage: 1,
                _getPrevPage: _interface,
                _getNextPage: _interface,
                $init: function (vm, el) {
                    vm._getPrevPage = function () {
                        if (vm.currentPage > 1) {
                            vm.currentPage--;
                            vm.getPage(vm.currentPage);
                        }
                    };
                    vm._getNextPage = function () {
                        if (vm.currentPage < vm.totalPage) {
                            vm.currentPage++;
                            vm.getPage(vm.currentPage);
                        }
                    };
                },
                $ready: function(vm, el){
                    el.msRetain = true;

                    vm.getPage(1);


                }
            })
        }
    })











</script>