<div class="col-md-9" ms-controller="user_manage">
    <div class="panel panel-default">
        <div class="panel-heading">user manage</div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>电子邮箱</th>
                </tr>
                <tr>
                    <td>haha</td>
                    <td>haha</td>
                    <td>haha</td>
                </tr>
                <tr ms-repeat="user_list">
                    <td>{{ el.id }}</td>
                    <td>{{ el.username }}</td>
                    <td>{{ el.email }}</td>
                    <td>
                        <button class="btn-sm btn-info" ms-click="editUser(el)">编辑</button>
                    </td>
                </tr>
            </table>
            <div style="text-right">
                <ms:pager $id="userPager" config="pager"></ms:pager>
            </div>
        </div>
    </div>
</div>
<script>




    avalon.ready(function() {
        if (avalon.vmodels.user_list) {
            var vm = avalon.vmodels.user_list;
        } else {
            function getPage(page) {
                var url = "/api/users/?paging=true&page=" + page + "&page_size=10";
                if (vm.showAdminOnly == true)
                    url += "&admin_type=1";
                if (vm.keyword != "")
                    url += "&keyword=" + vm.keyword;
                $.ajax({

                    url: url,
                    dataType: "json",
                    method: "get",
                    success: function (data) {
                        console.log(data)
                        if (!data.code) {
                            vm.user_list = data.data.results;
                            avalon.vmodels.userPager.totalPage = data.data.total_page;
                        }
                        else {
                            bsAlert(data.data);
                        }
                    }
                });
            }

            var vm = avalon.define({
                    $id: "user_manage",

                    user_list: [],
                    pager: {
                        getPage: function (page) {
                            getPage(page);
                        }
                    }
                })



            avalon.scan();

          var _interface = function () {
            };
            avalon.component("ms:pager", {
                $template: "页数: {{ currentPage }}/{{ totalPage }} " +
                "<button ms-class=\"{{ currentPage==1?'btn btn-primary disabled':'btn btn-primary' }}\" ms-click=\"_getPrevPage\">上一页</button> " +
                " <button ms-class=\"{{ currentPage==totalPage?'btn btn-primary disabled':'btn btn-primary' }}\" ms-click=\"_getNextPage\">下一页</button>",
                currentPage: 1,
                totalPage: 1,
                _getPrevPage: _interface,
                _getNextPage: _interface,
                _getPage: _interface,
                $init: function (vm, el) {
                    vm._getPrevPage = function () {
                        if (vm.currentPage > 1) {
                            vm.currentPage--;
                            vm.getPage(vm.currentPage);
                        }
                    };
                    vm._getNextPage = function () {
                        if (vm.currentPage < vm.totalPage) {
                            vm.currentPage++;
                            vm.getPage(vm.currentPage);
                        }
                    };
                    vm._getPage = function (page) {
                        getPage(page);
                    };
                },
                $ready: function(vm, el){
                    el.msRetain = true;
                    console.log("123");
                    vm._getPage(1);
                    console.log("234");

                }
            })
        }
    })











</script>