<div class="col-md-9" ms-controller="user_manage">
    <div class="panel panel-default">
        <div class="panel-heading">user manage</div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Operation</th>
                </tr>

                <tr ms-repeat="user_list">
                    <td>{{ el.id }}</td>
                    <td>{{ el.username }}</td>
                    <td>{{ el.email }}</td>
                    <td>
                        <button class="btn btn-info" ms-click="editUser(el)">编辑</button>
                    </td>
                </tr>
            </table>
            <div style="text-align: right;">
                <ms:pager $id="userPager" config="pager"></ms:pager>
            </div>
            <div ms-visible="can_edit">
                <h3>修改用户信息</h3>
                <form id="user_edit_form">
                    <div class="form-group col-md-6"><label>ID</label>
                        <input name="id" type="number" class="form-control" readonly ms-duplex="user_id">
                    </div>
                    <div class="form-group col-md-6"><label>Username</label>
                        <input name="username"  class="form-control" ms-duplex="username">
                    </div>
                    <div class="form-group col-md-6"><label>Email</label>
                        <input name="email"  class="form-control" ms-duplex="email">
                    </div>
                    <div class="form-group col-md-6"><label>role</label>
                        <!--<input name="role"  class="form-control" ms-duplex="role_id">-->
                        <select class="form-control" ms-duplex="role_id">
                            <option value="1">Admin</option>
                            <option value="2">Modrater</option>
                            <option value="3">User</option>
                            <option value="4">Ban</option>
                        </select>
                    </div>

                    <div class="form-group" >
                        <button type="submit" class="btn btn-success" style="text-align: right;">保存修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>




    avalon.ready(function() {
        if (avalon.vmodels.user_manage) {
            var vm = avalon.vmodels.user_manage;

        } else {
            function getPage(page) {
                var url = "/api/users/?paging=true&page=" + page + "&page_size=10";
                if (vm.showAdminOnly == true)
                    url += "&admin_type=1";
                if (vm.keyword != "")
                    url += "&keyword=" + vm.keyword;
                $.ajax({

                    url: url,
                    dataType: "json",
                    method: "get",
                    success: function (data) {
                        console.log(data);
                        if (!data.code) {
                            vm.user_list = data.data.results;
                            avalon.vmodels.userPager.totalPage = data.data.total_page;
                        }
                        else {
                            alert(data.data);
                        }
                    }
                });
            }



            var vm = avalon.define({
                    $id: "user_manage",

                    user_list: [],
                    user_id: -1,
                    username: "",
                    email: "",
                    password: "",
                    role_id: "",
                    can_edit: false,
                    pager: {
                        getPage: function (page) {
                            getPage(page);
                        }
                    },
                    editUser: function (user) {
                        vm.username = user.username;
                        vm.email = user.email;
                        vm.user_id = user.id;
                        vm.role_id = user.role_id;
                        vm.can_edit = true;
                    },
                })


            $("#user_edit_form")
                .on('submit', function (e) {

                    var data = {
                            username: vm.username,
                            id: vm.user_id,
                            email: vm.email,
                            role_id: vm.role_id,

                        };
                        if (vm.password != "")
                            data.password = vm.password;
                        $.ajax({
                            url: "/api/users/update_user",
                            data: data,
                            dataType: "json",
                            method: "put",
                            success: function (data) {
                                if (!data.code) {
                                    alert("编辑成功！");
                                    //getPage(1);
                                    console.log("edit success")
                                    vm.password = "";
                                    vm.can_edit = false;
                                    console.log("getpage");
                                    getPage(avalon.vmodels.userPager.currentPage);

                                } else {
                                    alert(data.data);
                                }
                            }
                        });
                        return false;
                });


            avalon.scan();

          var _interface = function () {
            };
            avalon.component("ms:pager", {
                $template: "页数: {{ currentPage }}/{{ totalPage }} " +
                "<button ms-class=\"{{ currentPage==1?'btn btn-primary disabled':'btn btn-primary' }}\" ms-click=\"_getPrevPage\">上一页</button> " +
                " <button ms-class=\"{{ currentPage==totalPage?'btn btn-primary disabled':'btn btn-primary' }}\" ms-click=\"_getNextPage\">下一页</button>",
                currentPage: 1,
                totalPage: 1,
                _getPrevPage: _interface,
                _getNextPage: _interface,
                $init: function (vm, el) {
                    vm._getPrevPage = function () {
                        if (vm.currentPage > 1) {
                            vm.currentPage--;
                            vm.getPage(vm.currentPage);
                        }
                    };
                    vm._getNextPage = function () {
                        if (vm.currentPage < vm.totalPage) {
                            vm.currentPage++;
                            vm.getPage(vm.currentPage);
                        }
                    };
                },
                $ready: function(vm, el){
                    el.msRetain = true;

                    vm.getPage(1);


                }
            })
        }
    })











</script>