<ul class="nav navbar-nav navbar-right">

        <li><a href="{{ url_for('account.logout') }}">logout</a></li>

        <li><a href="{{ url_for('account.login') }}">login</a></li>
        <li><a href="{{ url_for('account.setting') }}">setting</a></li>
        <li><a href="{{ url_for('dashboard.add_problem') }}">addproblem</a></li>
        <li><a href="{{ url_for('dashboard.add_news') }}">addnews</a></li>

</ul>