{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Contest{% endblock %}

{% block page_content %}

<div class="container problem_content">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">Add Contest</div>
                <div class="panel-body">

                    <form class="form-horizontal panel-body" method="post">
                        {{ form.csrf_token }}
                        {{ macros.horizontal_field(form.title) }}
                        {{ macros.horizontal_field(form.type) }}
                        {{ macros.horizontal_field(form.password) }}
                        <!--<div class="form-group ">-->
                            <!--<label class="col-sm-2 control-label" for="start_time">start time</label>-->
                            <!--<div class="col-sm-10">-->
                                <!--<input class="form-control" id="start_time" name="start_time" type="datetime-local"-->
                                       <!--value="">-->
                            <!--</div>-->
                        <!--</div>-->
                        {{ macros.horizontal_field(form.start_time) }}
                        {{ macros.horizontal_field(form.end_time) }}
                        <!--<div class="form-group ">-->
                            <!--<label class="col-sm-2 control-label" for="end_time">end time</label>-->
                            <!--<div class="col-sm-10">-->
                                <!--<input class="form-control" id="end_time" name="end_time" type="datetime-local" value="">-->
                            <!--</div>-->
                        <!--</div>-->
                        {{ macros.checkbox_field(form.visible) }}



                        {{ form.problem_list(class_='form-control', placeholder=form.problem_list.description) }}

                        <input type="button" class="btn btn-default" value="add problem" onclick="add('', '')">
                        <!--<input type="button" class="btn btn-default" value="xixi" onclick="get_problems()">-->
                        <hr>
                        <div id="problems">
                            <!--<div class="single_problem">-->
                                <!--<label class="control-label" > id: </label>-->
                                <!--<input class="form-control" type="text" name="id" style="width:30%;display:inline;" />-->
                                <!--<label class=" control-label" > name: </label>-->
                                <!--<input class="form-control" type="text" name="name" style="width:30%;display:inline;" />-->
                            <!--</div>-->

                        </div>
                        <hr>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-primary" id="submitbtn">Add</button>
                            </div>
                        </div>
                    </form>
                    <script>
                        add = function(idstr, namestr){
                            var div = document.getElementById("problems");
                            var singleproblem = document.createElement("div")
                            singleproblem.setAttribute("class", "single_problem")
                            singleproblem.setAttribute("name", "single_problem")

                            var labelid = document.createElement("label")
                            labelid.setAttribute("class","control-label")
                            labelid.innerHTML = " id:&nbsp; "
                            var problemid = document.createElement("input")
                            problemid.setAttribute("class","form-control")
                            problemid.setAttribute("type","text")
                            problemid.setAttribute("name","id")
                            problemid.setAttribute("style","width:30%;display:inline;")
                            problemid.value = idstr

                            var labelname = document.createElement("label")
                            labelname.setAttribute("class","control-label")
                            labelname.innerHTML = " &nbsp;name:&nbsp; "
                            var problemname = document.createElement("input")
                            problemname.setAttribute("class","form-control")
                            problemname.setAttribute("type","text")
                            problemname.setAttribute("name","name")
                            problemname.setAttribute("style","width:30%;display:inline;")
                            problemname.value = namestr

                            var del = document.createElement("input")
                            del.setAttribute("type","button")
                            del.setAttribute("value","删除")
                            del.setAttribute("class","btn btn-default")

                            singleproblem.appendChild(labelid)
                            singleproblem.appendChild(problemid)
                            singleproblem.appendChild(labelname)
                            singleproblem.appendChild(problemname)
                            singleproblem.appendChild(del)

                            div.appendChild(singleproblem)

                            del.onclick = function() {

                                div.removeChild(singleproblem)

                            }
                        }

                        var get_problems = function() {
                            var problems = [];
                            var sp = document.getElementsByName("single_problem");

                            for(i=0; i<sp.length; ++i) {

                                var single = {}
                                var inputs = sp[i].getElementsByTagName("input");

                                for(j=0; j<inputs.length; ++j) {
                                    if(inputs[j].getAttribute("name") == "id") {
                                        single.id = inputs[j].value
                                    }
                                    if(inputs[j].getAttribute("name") == "name") {
                                        single.name = inputs[j].value
                                    }
                                }

                                problems.push(single);
                            }

                            var str = JSON.stringify(problems)
                            console.log(str)
                            document.getElementById("problem_list").value=str;

                        }
                        btn = document.getElementById("submitbtn");
                        btn.onclick = get_problems
                    </script>




                </div>
            </div>
        </div>
        <div class="col-md-3">
            {{ macros.userpanel(current_user) }}
            <div class="announcement">
                <div class="panel panel-default">
                    <div class="panel-heading">公告</div>
                    <div class="panel-body">
                        <li>1.<a href="#">今天晚上维护</a></li>
                        <li>1.<a href="#">今天晚上维护</a></li>
                        <li>1.<a href="#">今天晚上维护</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--{% for contest in contests %}-->
<!--<a href="{{ url_for('contest.show', cid=contest.id) }}">{{ contest.title }}</a><br>-->
<!--{% endfor %}-->

{% endblock %}
