{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Contest{% endblock %}

{% block page_content %}

<div class="container content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Contest list </div>
                <div class="panel-body">
                     <div class="contest-main">
                            <h1>{{ contest.title }}<br></h1>
                            <h4>开始于：<span class="label label-success">{{ contest.start_time }}</span> 结束于：<span class="label label-danger">{{ contest.end_time }}</span> <span class="label label-info">{{ macros.contest_status(contest) }}</span></h4>
                            <ul class="nav nav-pills" id="contest-nav">
                                <li class="active"><a href="{{ url_for('contest.show', cid=contest.id) }}">题目</a></li>
                                <li><a href="{{ url_for('contest.rank', cid=contest.id) }}">排名</a></li>
                                <!--<li><a href="{{ url_for('contest.static', cid=contest.id) }}">统计</a></li>-->
                                <li><a href="{{ url_for('contest.status', cid=contest.id) }}">状态</a></li>
                                <li><a href="{{ url_for('contest.topics', cid=contest.id) }}">答疑</a></li>
                            </ul>
                            <hr>

                            <h1 class="page-title">{{ "%c:" | format( 64 + cb.id) }}{{ problem.title }}</h1>
                                <div class="contest-info">
                                    <p>
                                        时间限制：<span class="label label-warning">{{ problem.time_limit }}秒</span>
                                        内存限制：<span class="label label-danger">{{ problem.memory_limit }}兆</span><br>
                                    </p>
                                </div>
                            <dl class="des" style="text-align:left">
                                <div><h3>描述</h3>
                                    {{ problem.pro_desc|safe }}
                                </div>
                                <div><h3>输入</h3>
                                    <pre>{{ problem.pro_input }}</pre>
                                </div>
                                <div><h3>输出</h3>
                                    <pre>{{ problem.pro_output }}</pre>
                                </div>
                                <dt>样例输入</dt>
                                <dd>
                                    <pre>{{ problem.sample_input }}</pre>
                                </dd>
                                <dt>样例输出</dt>
                                <dd>
                                    <pre>{{ problem.sample_output }}</pre>
                                </dd>
                            </dl>
                         </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">code editor</div>
                        <div class="panel-body">
                            <!-- body -->
                            <div class="code-editor" id="code-editor">
                                <form class="form-horizontal panel-body" method="post" action="">
                                    {{ form.csrf_token }}


                                    {{form.language.label(class_='col-sm-2 control-label')}}
                                    {{ form.language(class_='form-control', placeholder=form.language.description) }}
                                    <hr>
                                    {{ form.code(class_='form-control', placeholder=form.code.description) }}
                                    <div id="editor" name="editor"></div>


                                    <div class="form-group">
                                        <div class="col-sm-offset-10 col-sm-10">
                                            <button class="btn btn-primary" id="submitbtn">submit</button>
                                        </div>
                                    </div>
                                </form>
                                <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" type="text/javascript" charset="utf-8"></script>-->
                                <script>
                                          var editor = ace.edit("editor");
                                          editor.getSession().setMode("ace/mode/c_cpp");

                                          var eventOne = function(){
                                              document.getElementById("code").value=editor.getValue();
                                            }
                                          var btn = document.getElementById("submitbtn");
                                            btn.onclick = eventOne;
                                          console.log(btn);
                                </script>
                            </div>
                            <!-- end body -->
                        </div>
                    </div>



                </div>
            </div>
        </div>

    </div>
</div>


<!--{% for contest in contests %}-->
<!--<a href="{{ url_for('contest.show', cid=contest.id) }}">{{ contest.title }}</a><br>-->
<!--{% endfor %}-->

{% endblock %}
