{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Contest{% endblock %}

{% block page_content %}

<div class="container content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Contest list</div>
                <div class="panel-body">
                    <div class="contest-main">
                        <h1>{{ contest.title }}<br></h1>
                        <h4>开始于：<span class="label label-success">{{ contest.start_time }}</span> 结束于：<span
                                class="label label-danger">{{ contest.end_time }}</span> <span class="label label-info">{{ macros.contest_status(contest) }}</span>
                        </h4>
                        <ul class="nav nav-pills" id="contest-nav">
                            <li><a href="{{ url_for('contest.show', cid=contest.id) }}">题目</a></li>
                            <li class="active"><a href="{{ url_for('contest.rank', cid=contest.id) }}">排名</a></li>
                            <!--<li><a href="{{ url_for('contest.static', cid=contest.id) }}">统计</a></li>-->
                            <li><a href="{{ url_for('contest.status', cid=contest.id) }}">状态</a></li>
                            <li><a href="{{ url_for('contest.topics', cid=contest.id) }}">答疑</a></li>
                        </ul>
                        <hr>




                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>用户</th>
                                <th>题</th>
                                <th>罚时</th>
                                {% for pro in contest.problems %}
                                <th>{{ "%c" | format( 64 + loop.index) }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>

                            {% for user in user_data %}
                            <tr>
                                <td>
                                    {{ loop.index }}
                                </td>
                                <td>{{ user.nickname }}</td>
                                <td>{{ user.solved }}</td>
                                <td>{{ user.time|datetimeformat }}</td>
                                {% for pro in contest.problems %}
                                <td>
                                    {% if user.ac_time[loop.index] is not_null %}
                                        {{ user.ac_time[loop.index]|datetimeformat }}
                                    {% endif %}
                                    {% if user.wa_count[loop.index] is not_null %}
                                        (-{{ user.wa_count[loop.index] }})
                                    {% endif %}
                                    {% if user.ac_time[loop.index] is not not_null %}
                                        {% if user.wa_count[loop.index] is not not_null %}
                                            -/-
                                        {% endif %}
                                    {% endif %}
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                    </div>

                </div>
            </div>
        </div>

    </div>
</div>



{% endblock %}
