{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Contest{% endblock %}

{% block page_content %}

<div class="container content">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">Contest list {% if current_user.is_moderator %}<a
                            href="{{ url_for('contest.add_contest') }}">add</a>{% endif %}</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group form-inline">
                            <form name="search_form" method="get" action="search">
                                <label for="key">Search:</label>
                                <input class="form-control" name="key" id="key"/>
                                <label >In:</label>
                                <select class="form-control" id="type" name="type"><option selected="" value="0">Contest name</option><option value="1">User name</option></select>
                                <button class="btn btn-default" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th width="40%">Name</th>
                                <th width="30%">Starttime</th>
                                <th width="15%">Type</th>
                                <th width="15%">Status</th>
                                <th width="15%">User</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for contest in contests %}
                            <tr>
                                <th scope="row"><a href="{{ url_for('contest.show', cid=contest.id) }}">{{ contest.id }}</a></th>
                                <td><a href="#"><a href="{{ url_for('contest.show', cid=contest.id) }}">{{ contest.title }}</a></a></td>
                                <td >{{ contest.start_time }}</td>
                                <th >{{ macros.contest_type(contest) }}</th>
                                <th >{{ macros.contest_status(contest) }}</th>
                                <td><a href="{{ url_for('account.show', id=contest.user.id) }}">{{ contest.user.nickname }}</a></td>
                            </tr>

                            {% endfor %}


                            </tbody>
                        </table>
                        <!-- <hr> -->
                    </div>
                    <div class="row">
                        <nav>
                            {% if pagination %}
                            <div class="pagination">
                                {{ macros.pagination_widget(pagination, 'contest.search', key=request.args['key'], type=request.args['type']) }}
                            </div>
                            {% endif %}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            {{ macros.userpanel(current_user) }}
            <div class="announcement">
                <div class="panel panel-default">
                    <div class="panel-heading">公告</div>
                    <div class="panel-body">
                        <li>1.<a href="#">今天晚上维护</a></li>
                        <li>1.<a href="#">今天晚上维护</a></li>
                        <li>1.<a href="#">今天晚上维护</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
