{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Contest{% endblock %}

{% block page_content %}

<div class="container content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Contest list</div>
                <div class="panel-body">
                    <div class="contest-main">
                        <h1>{{ contest.title }}<br></h1>
                        <h4>开始于：<span class="label label-success">{{ contest.start_time }}</span> 结束于：<span
                                class="label label-danger">{{ contest.end_time }}</span> <span class="label label-info">{{ macros.contest_status(contest) }}</span>
                        </h4>
                        <ul class="nav nav-pills" id="contest-nav">
                            <li><a href="{{ url_for('contest.show', cid=contest.id) }}">题目</a></li>
                            <li><a href="{{ url_for('contest.rank', cid=contest.id) }}">排名</a></li>
                            <!--<li><a href="{{ url_for('contest.static', cid=contest.id) }}">统计</a></li>-->
                            <li><a href="{{ url_for('contest.status', cid=contest.id) }}">状态</a></li>
                            <li class="active"><a href="{{ url_for('contest.topics', cid=contest.id) }}">答疑</a></li>
                        </ul>
                        <hr>


                        <div  class="cell">

                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tbody>
                            <tr>
                                <td width="48" valign="top" align="center">
                                    <a href="{{ url_for('account.show', id=topic.user.id) }}">
                                    <image src="{{ topic.user.avatar(46) }}"
                                           alt="avatar"></image>
                                    </a>
                                </td>
                                <td width="10" valign="top"></td>
                                <td width="auto" valign="top" align="left">
                                    <strong><a href="{{ url_for('account.show', id=topic.user.id) }}" class="dark">{{ topic.user.username }}</a></strong>&nbsp; &nbsp;
                                    <div class="reply_content">
                                        {{ topic.content }}
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                    </div>


                        {% for reply in replys %}
                    <div  class="cell">

                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tbody>
                            <tr>
                                <td width="48" valign="top" align="center">
                                    <a href="{{ url_for('account.show', id=reply.user.id) }}">
                                    <image src="{{ reply.user.avatar(46) }}"
                                           alt="avatar"></image>
                                    </a>
                                </td>
                                <td width="10" valign="top"></td>
                                <td width="auto" valign="top" align="left">
                                    <strong><a href="{{ url_for('account.show', id=reply.user.id) }}" class="dark">{{ reply.user.username }}</a></strong>&nbsp; &nbsp;
                                    <div class="reply_content">
                                        {{ reply.content }}
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                    </div>
                    {% endfor %}


                        <hr>
                        <div id="add_reply">
                        {{ wtf.quick_form(form) }}
                        </div>









        </div>
                </div>
            </div>


        </div>

    </div>
</div>


    {% endblock %}
