{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Contest{% endblock %}

{% block page_content %}

<div class="container content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Contest list </div>
                <div class="panel-body">
                     <div class="contest-main">
                            <h1>{{ contest.title }}<br></h1>
                            <h4>开始于：<span class="label label-success">{{ contest.start_time }}</span> 结束于：<span class="label label-danger">{{ contest.end_time }}</span> <span class="label label-info">{{ macros.contest_status(contest) }}</span></h4>
                            <ul class="nav nav-pills" id="contest-nav">
                                <li><a href="{{ url_for('contest.show', cid=contest.id) }}">题目</a></li>
                                <li><a href="{{ url_for('contest.rank', cid=contest.id) }}">排名</a></li>
                                <!--<li><a href="{{ url_for('contest.static', cid=contest.id) }}">统计</a></li>-->
                                <li class="active"><a href="{{ url_for('contest.status', cid=contest.id) }}">状态</a></li>
                                <li><a href="{{ url_for('contest.topics', cid=contest.id) }}">答疑</a></li>
                            </ul>
                            <hr>

                         <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>题号</th>
                                    <th>用户</th>
                                    <th>结果</th>
                                    <th>耗时</th>
                                    <th>内存</th>
                                    <th>语言</th>
                                    <th>长度</th>
                                    <th>时间</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for submission in submissions %}
                            <tr>
                                <th scope="row">{{ submission.id }}</th>
                                <td><a href="{{ url_for('problem.show', id=submission.problem.id) }}">{{ submission.problem.id }}</a></td>
                                <td>{{ submission.user.username }}</td>
                                <td>
                                    {{ macros.submission_result(submission) }}

                                </td>
                                <td>{{ submission.time }}</td>
                                <td>{{ submission.memory }}</td>
                                {% if not current_user.is_authenticated %}
                                <td>{{ macros.submission_language(submission) }}</td>
                                {% elif submission.user == current_user or current_user.is_administrator %}
                                <td><a href="{{ url_for('problem.show_code', id=submission.id) }}">{{ macros.submission_language(submission) }}</a></td>
                                {% else %}
                                <td>{{ macros.submission_language(submission) }}</td>
                                {% endif %}
                                <td>{{ submission.code_length }}</td>
                                <td>{{ submission.create_time }}</td>
                            </tr>

                            {% endfor %}

                                </tbody>
                            </table>
                         <div class="row">
                        <nav>
                            {% if pagination %}
                            <div class="pagination">
                                {{ macros.pagination_widget(pagination, 'contest.status', cid=contest.id) }}
                            </div>
                            {% endif %}
                        </nav>
                    </div>





                </div>
            </div>
        </div>

    </div>
</div>


<!--{% for contest in contests %}-->
<!--<a href="{{ url_for('contest.show', cid=contest.id) }}">{{ contest.title }}</a><br>-->
<!--{% endfor %}-->

{% endblock %}
