{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Contest{% endblock %}

{% block page_content %}

<div class="container content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Contest list</div>
                <div class="panel-body">
                    <div class="contest-main">
                        <h1>{{ contest.title }}<br></h1>
                        <h4>开始于：<span class="label label-success">{{ contest.start_time }}</span> 结束于：<span
                                class="label label-danger">{{ contest.end_time }}</span> <span class="label label-info">{{ macros.contest_status(contest) }}</span>
                        </h4>
                        <ul class="nav nav-pills" id="contest-nav">
                            <li><a href="{{ url_for('contest.show', cid=contest.id) }}">题目</a></li>
                            <li><a href="{{ url_for('contest.rank', cid=contest.id) }}">排名</a></li>
                            <!--<li><a href="{{ url_for('contest.static', cid=contest.id) }}">统计</a></li>-->
                            <li><a href="{{ url_for('contest.status', cid=contest.id) }}">状态</a></li>
                            <li class="active"><a href="{{ url_for('contest.topics', cid=contest.id) }}">答疑</a></li>
                        </ul>
                        <hr>
                        <div class="row" >
                        <div class="form-group form-inline" style="text-align=left; float:left; margin-left:10px;">
                            <label for="problem_id">ID:</label>
                            <input class="form-control" id="problem_id">
                            <label for="problem_name">NAME:</label>
                            <input class="form-control" id="problem_name">
                            <button class="btn btn-default" type="submit">Search</button>
                        </div>
                            <button class="btn btn-primary" style="text-align=left; float:right; margin-right:30px;"><a href="{{ url_for('contest.add_topic', cid=contest.id) }}" style="color:#FCF8E3;">提问</a></button>

                    </div>
                        <div class="contest-topics">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="col-sm-1">题号</th>
                                    <th>标题</th>
                                    <th class="col-sm-2">作者</th>
                                </tr>
                                </thead>
                                <tbody>
                                 {% for topic in contest.topics %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('contest.show_problem', cid=contest.id, pid=topic.contest_problem_id) }}" style="color: #000000"> {{ "%c" | format( 64 + topic.contest_problem_id) }}</a></td>
                                    <td>
                                        <a href="{{ url_for('contest.show_topic', cid=contest.id, tid=topic.id) }}"><strong>{{ topic.title }}</strong></a>
                                    </td>
                                    <td><a href="{{ url_for('account.show', id=topic.user.id) }}">{{ topic.user.username }}</a></td>
                                </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>


    {% endblock %}
