{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Problem List{% endblock %}

{% block page_content %}

<div class="container content">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">News list</div>
                <div class="panel-body">


                    {% for item in news %}
                    <div class="news">
                        <a href="{{ url_for('news.show', news_id=item.id) }}">{{ item.title }}</a>
                        <span class="user"> <a href="{{ url_for('account.show', id=item.user.id) }}">{{
                            item.user.nickname }}</a> </span>
                        <span class="time"> {{ item.create_time }} </span>

                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <nav>
                        {% if pagination %}
                        <div class="pagination">
                            {{ macros.pagination_widget(pagination, 'news.list') }}
                        </div>
                        {% endif %}
                    </nav>

                </div>

            </div>
        </div>
        <div class="col-md-3">
            {{ macros.userpanel(current_user) }}
            {{ macros.newspanel(newslist) }}
        </div>
    </div>
</div>

{% endblock %}
