{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Status{% endblock %}

{% block page_content %}
<div class="container content">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">Code</div>
                <div class="panel-body">
                    <div id="editor" name="editor">{{ submission.code }}</div>
                    <script>
                           var editor = ace.edit("editor");
                           editor.getSession().setMode("ace/mode/c_cpp");
                           editor.setReadOnly(true);

                    </script>

                    {% if submission.result == 9 %}
                    <hr>
                    <h3>Compile Error info</h3>
                    <pre>{{ submission.info }}</pre>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            {{ macros.userpanel(current_user) }}
            {{ macros.newspanel(newslist) }}
        </div>
    </div>
</div>


{% endblock %}
