{% macro pagination_widget(pagination, endpoint) %}
<ul class="pagination">
    <li
    {% if not pagination.has_prev %} class="disabled"{% endif %}>
    <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{% else %}#{% endif %}">
        &laquo;
    </a>
    </li>
    {% for p in pagination.iter_pages() %}
    <!--<h1>{{ p }}</h1>-->
    {% if p %}
    {% if p == pagination.page %}
    <li class="active">
        <a href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
    </li>
    {% else %}
    <li>
        <a href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
    </li>
    {% endif %}
    {% else %}
    <li class="disabled"><a href="#">&hellip;</a></li>
    {% endif %}
    {% endfor %}
    <li
    {% if not pagination.has_next %} class="disabled"{% endif %}>
    <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{% else %}#{% endif %}">
        &raquo;
    </a>
    </li>
</ul>
{% endmacro %}

{% macro userpanel(current_user) %}
{% if current_user.is_authenticated %}
<div class="userpanel">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row userhead">
                <a href="{{ url_for('account.show', id=current_user.id) }}">
                    <image src="{{ current_user.avatar(64) }}"
                           alt="avatar"></image>
                </a>
                <span class="username">{{ current_user.nickname }}</span>
                <hr>
            </div>
            <div class="row userinfo">
                <span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp{{ current_user.school }}</span>
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true">&nbsp{{ current_user.address }}</span>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp{{ current_user.email }}</span>
                <span class="glyphicon glyphicon-link" aria-hidden="true">&nbsp{{ current_user.blog }}</span>
                <hr>
            </div>
            <div class="row userdo">
                <a class="user-vcard">
                    <strong>{{ current_user.total_accept }}</strong>
                    <span>Accepted</span>
                </a>
                <a class="user-vcard">
                    <strong>{{ current_user.total_submit }}</strong>
                    <span>Submitted</span>
                </a>
                <a class="user-vcard">
                    <strong>{{ current_user.rank }}</strong>
                    <span>Rank</span>
                </a>
            </div>

        </div>
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro newspanel(newslist) %}

<div class="announcement">
    <div class="panel panel-default">
        <div class="panel-heading">公告<a href="{{ url_for('news.list') }}">more</a></div>
        <div class="panel-body">
            {% for item in newslist %}
            <li><a href="{{ url_for('news.show', news_id=item.id) }}">{{ item.title }}</a></li>
            {% endfor %}
        </div>
    </div>
</div>
{% endmacro %}

{% macro horizontal_field(field) %}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    {{ field.label(class_='col-sm-2 control-label') }}
    <div class="col-sm-10">
        {% if field.description %}
        {{ field(class_='form-control', placeholder=field.description) }}
        {% else %}
        {{ field(class_='form-control') }}
        {% endif %}
        {% if field.errors %}
        <p class="help-block">{{ field.errors[0] }}</p>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro checkbox_field(field) %}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    {{ field.label(class_='col-sm-2 control-label') }}
    <div class="col-sm-10" style="text-align:left">
        {% if field.description %}
        {{ field(class_='form-control', placeholder=field.description) }}
        {% else %}
        {{ field() }}
        {% endif %}
        {% if field.errors %}
        <p class="help-block">{{ field.errors[0] }}</p>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro submission_result(submission) %}
    {% if submission.result == 0 %}
    Waiting
    {% elif submission.result == 1 %}
    Runing
    {% elif submission.result == 2 %}
    Accepted
    {% elif submission.result == 3 %}
    Presentation Error
    {% elif submission.result == 4 %}
    Wrong Answer
    {% elif submission.result == 5 %}
    Runtime Error
    {% elif submission.result == 6 %}
    Time Limit Exceeded
    {% elif submission.result == 7 %}
    Memory Limit Exceeded
    {% elif submission.result == 8 %}
    Output Limit Exceeded
    {% elif submission.result == 9 %}
    Compile Error
    {% elif submission.result == 10 %}
    System Error
    {% else %}
    System Error
    {% endif %}
{% endmacro %}


{% macro submission_language(submission) %}
    {% if submission.language == 0 %}
    C
    {% elif submission.language == 1 %}
    C++
    {% elif submission.language == 2 %}
    JAVA
    {% elif submission.language == 3 %}
    PASKAL
    {% else %}
    System Error
    {% endif %}
{% endmacro %}

{% macro contest_status(contest) %}
    {% if contest.status == 0 %}
    Not start
    {% elif contest.status == 1 %}
    Running
    {% else %}
    End
    {% endif %}
{% endmacro %}

{% macro contest_type(contest) %}
    {% if contest.type == 0 %}
    Public
    {% elif contest.status == 1 %}
    Private
    {% else %}
    Other
    {% endif %}
{% endmacro %}

{% macro problem_difficulty(problem) %}
    {% if problem.difficulty == 0 %}
    Easy
    {% elif problem.difficulty == 1 %}
    Usual
    {% elif problem.difficulty == 2 %}
    Hard
    {% else %}
    Crazy
    {% endif %}
{% endmacro %}


