{% extends "bootstrap/base.html" %}

{% block title %}OJ{% endblock %}

{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.icon') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.icon') }}" type="image/x-icon">
<link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
{{ endblock }}

{% block navbar %}
<!--<div class="navbar navbar-inverse" role="navigation">-->
<!--<div class="container">-->
<!--<div class="navbar-header">-->
<!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
<!--<span class="sr-only">Toggle navigation</span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--</button>-->
<!--<a class="navbar-brand" href="{{ url_for('main.index') }}">ZJUTOJ</a>-->
<!--</div>-->
<!--<div class="navbar-collapse collapse">-->
<!--<ul class="nav navbar-nav">-->
<!--<li><a href="{{ url_for('problem.list') }}">Problem</a></li>-->
<!--<li><a href="{{ url_for('status.list') }}">Status</a></li>-->
<!--<li><a href="{{ url_for('contest.list') }}">Contest</a></li>-->
<!--<li><a href="{{ url_for('ranks.list') }}">Ranks</a></li>-->
<!--</ul>-->
<!--{% include "head/nav-dropmenu.html" %}-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ZJUT Online Judge</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#">PROBLEMS</a>
                </li>
                <li><a href="#">CONTESTS</a
                </li>
                <li><a href="#">STATUS</a>
                </li>
                <li><a href="#">RANKS</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Messyidea <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Nav header</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                  </li>
                {% else %}
                    <li><a href="#">LOGIN</a>
                    </li>
                    <li><a href="#">REGISTER</a
                    </li>
                {% endif %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
