{% extends "bootstrap/base.html" %}

{% block title %}OJ{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.icon') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.icon') }}" type="image/x-icon">
<link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/userinfo.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='lib/src-min-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor/ueditor.config.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor/ueditor.all.min.js') }}"> </script>
<script src="{{ url_for('static', filename='js/avalon.js') }}" type="text/javascript" charset="utf-8"></script>

<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor/lang/zh-cn/zh-cn.js') }}"></script>
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" type="text/javascript" charset="utf-8"></script>-->
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ZJUT Online Judge</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{{ url_for('problem.list') }}">PROBLEMS</a>
                </li>
                <li><a href="{{ url_for('contest.list') }}">CONTESTS</a
                </li>
                <li><a href="{{ url_for('status.list') }}">STATUS</a>
                </li>
                <li><a href="{{ url_for('ranks.list') }}">RANKS</a>
                </li>
                <li><a href="{{ url_for('news.list') }}">NEWS</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="true">{{ current_user.username }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">


                        {% if current_user.is_moderator %}
                            <li><a href="{{ url_for('dashboard.dashboard') }}">dashboard</a></li>
                            <li><a href="{{ url_for('dashboard.add_problem') }}">addproblem</a></li>
                            <li><a href="{{ url_for('dashboard.add_news') }}">addnews</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('account.setting') }}">setting</a></li>
                        <li role="separator" class="divider"></li>
                        <!--<li class="dropdown-header">Nav header</li>-->
                        <li><a href="{{ url_for('account.logout') }}">logout</a></li>
                        <!--<li><a href="#">One more separated link</a></li>-->
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('account.login') }}">LOGIN</a>
                </li>
                <li><a href="{{ url_for('account.register') }}">REGISTER</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
</nav>
{% endblock %}

{% block content %}
<div id="Wrapper">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<!--{{ moment.include_moment() }}-->
{% endblock %}

{% block userpanel %}
{% if current_user.is_authenticated %}
<div class="userpanel">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row userhead">
                <image src="{{ url_for('static', filename='images/ymc.jpg') }}" width="60px" height="60px"
                       alt="ymc"></image>
                <span class="username">ymc</span>

                <hr>
            </div>
            <div class="row userinfo">
                <span class="school">ZJUT</span>
                <span class="local">Hangzhou</span>
                <span class="school">ZJUT</span>
                <span class="email">the.mid.sea@gmail.com</span>
                <span class="www">www.baidu.com</span>
                <hr>
            </div>
            <div class="row userdo">
                <a class="user-vcard">
                    <strong>200</strong>
                    <span>Accepted</span>
                </a>
                <a class="user-vcard">
                    <strong>456</strong>
                    <span>Submitted</span>
                </a>
                <a class="user-vcard">
                    <strong>200</strong>
                    <span>Rank</span>
                </a>
            </div>

        </div>
    </div>
</div>
{% endif %}
{% endblock %}
